<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
      <file value="C://Log//log.json" />
      <layout type="ETicaretDersiProje.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
    </appender>
    <appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=DESKTOP-D0LF9Q3\SQLEXPRESS;Initial Catalog=Eticaret;Integrated Security=true;" />
      <commandText value="INSERT INTO Logs ([Detail],[Date],[Audit]) VALUES (@logDetail,@log_date,@audit)" />
      <parameter>
        <parameterName value="@logDetail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="ETicaretDersiProje.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@audit" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
    </appender>
    <logger name="JsonFileLogger">
      <level value="ALL" />
      <appender-ref ref="JsonFileAppender" />
    </logger>
    <logger name="DatabaseLogger">
      <level value="All" />
      <appender-ref ref="SqlServerAppender" />
    </logger>
  </log4net>
</configuration>