@model ETicaretDersiProje.Eticaret.MvcWebUI.Models.CartListViewModel
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Success Notification Boxes</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link href="~/Content/Home/css/success.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div id="w">
    <div id="content">

        <div class="notify successbox">
            <h1>Sipariş edildi!</h1>
           
            <p>Siparişiniz kargoya verildiğinde telefon ile bilgilendirme yapılacaktır.</p>
            <a href="/Home/Index">Anasayfaya git</a>
            
        </div>

       


    </div>
</div>
</body>

</html>
