@model ETicaretDersiProje.Eticaret.Entities.Concrete.Role
@{
    Layout = "../_LayoutPageAdmin.cshtml";
}

@using (Html.BeginForm(Html.BeginForm("Edit", "Role")))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal">
        <h3 class="sign-h text-danger">Renk Düzenle</h3>


        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>






        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" id="sign-frm-input-btn" />
            </div>
        </div>


    </div>
}