@using ETicaretDersiProje.Eticaret.Entities.Concrete
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>

    <link href="~/Content/Home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Home/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/Home/css/price-range.css" rel="stylesheet" />
    <link href="~/Content/Home/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Home/css/main.css" rel="stylesheet" />
    <link href="~/Content/Home/css/responsive.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="images/home/logo.png" alt="" /></a>
                        </div>
                    
                        @if (Session["role"] as string=="Admin")
                        {
                            <div class="btn-group pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                        Admin
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Customer/Index">Admin Paneli</a></li>
                                       
                                    </ul>
                                </div>

                         
                            </div>
                        }
                        @if (Session["role"] as string=="Firma")
                        {
                            <div class="btn-group pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                        Firma
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Firma/Index">Firma Paneli</a></li>
                                       
                                    </ul>
                                </div>

                         
                            </div>
                        }
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @if (Session["email"] != null)
                                {
                                    <li><a href="/Home/Profile/@Session["id"]"><i class="fa fa-user"></i> @Session["email"].ToString()</a></li>
                                    <li><a href="/Home/Orders/@Session["id"]"><i class="glyphicon glyphicon-time"></i> Siparişlerim</a></li>
                                    <li><a href="/Checkout/Index"><i class="fa fa-crosshairs"></i> Sipariş Tamamla</a></li>
                                    <li><a href="/Cart/Index"><i class="fa fa-shopping-cart"></i> Sepet</a></li>
                                    <li><a href="/Home/Complaints"><i class="glyphicon glyphicon-remove-sign"></i> Şikayet</a></li>
                                    <li><a href="/Home/Logout"><i class="fa fa-lock"></i> Çıkış</a></li>
                                }
                                else
                                {
                                    <li><a href="/Home/Login"><i class="fa fa-lock"></i> Giriş/Kayıt</a></li>
                                }




                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/Home/Index" class="active">Anasayfa</a></li>
                                @foreach (var item in (List<Category>)Session["kategoriler"])
                                {
                                    <li><a href="/Home/Index?id=@item.CategoryID">@item.CategoryName</a></li>
                                }
                                <li><a href="/Home/Discount">İndirimdeki Ürünler</a></li>
                                <li><a href="/Home/Contact">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Ara"  id="araBtn"/>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->



    <section>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>

    <footer id="footer">
        <!--Footer-->
     

        <div class="footer-widget">
            <div class="container">
               
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © Her hakkı saklıdır. Yunus Ünver</p>
                    <p class="pull-right"> <span><a target="_blank" href="/Home/Index">Anasayfa</a></span></p>
                </div>
            </div>
        </div>

</footer><!--/Footer-->



<script src="~/Content/Home/js/jquery.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/Home/js/price-range.js"></script>
    <script src="~/Content/Home/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/Home/js/main.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>