@{
    Layout = "../_LayoutPageHome.cshtml";
}

<div id="contact-page" class="container">
    <div class="bg">
  
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form">
                    <h2 class="title text-center">BİZE ULAŞIN!</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                  
                        <div class="form-group col-md-12">
                            <input type="text" name="subject" id="baslik" class="form-control" required="required" placeholder="Başlık">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Mesajınızı buraya yazınız."></textarea>
                        </div>
                        <div class="form-group col-md-12">
                           
                            <a class="btn btn-primary pull-right" onclick="SendMail()">Mail Göndermek için tıkla</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">İLETİŞİM BİLGİLERİ</h2>
                    <address>
                        <p>E-Shopper Inc.</p>
                        <p>935 W. Webster Ave New Streets Chicago, IL 60614, NY</p>
                        <p>Newyork USA</p>
                        <p>Mobile: +2346 17 38 93</p>
                        <p>Fax: 1-714-252-0026</p>
                        <p>Email: info@e-shopper.com</p>
                    </address>
                    <div class="social-networks">
                        <h2 class="title text-center">SOSYAL MEDYA HESAPLARIMIZ</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->

<script>
    var SendMail = function () {
        var baslik = $('#baslik').val();
        var mesaj = $('#message').val();
        $.ajax({
            type: "POST",
            url: "/Home/SendMailToUser",
            data: {mesaj:mesaj,baslik:baslik},
            success: function(data) {
                alert("Gönderildi");
            }

        });
    }
</script>